{
  "extends": "eslint:recommended",
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 8
      },
  "globals": {
      "L": true,
      "module": true,
      "define": false
      },
  "env": {
      "browser": true
      },
}
