{
  "extends": "eslint:recommended",
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 8
      },
  "rules": {
      "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
      }
  "globals": {
      "L": true,
      "module": true,
      "define": false
      },
  "env": {
      "browser": true
      },
}
