Source: loolwsd
Section: web
Priority: optional
Maintainer: Andreas Mantke <maand@gmx.de>
Build-Depends: debhelper (>= 9.20160709) | dh-systemd (>= 1.3), libcap-dev, libcap2-bin, nodejs, python3-polib, python3-lxml, fontconfig, libpam-dev, libcppunit-dev, pkg-config, devscripts, m4
Standards-Version: 3.9.7

Package: loolwsd
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser, fontconfig, cpio, libcap2-bin,
 libobasis-calc,
 libobasis-core,
 libobasis-graphicfilter,
 libobasis-images,
 libobasis-impress,
 libobasis-ooofonts,
 libobasis-writer,
 libreoffice,
 libreoffice-ure,
 libobasis-en-us,
 libobasis-draw,
 libobasis-extension-pdf-import,
 libobasis-ooolinguistic,
 libobasis-math
Description: LibreOffice Online WebSocket Daemon
 LOOLWSD is a daemon that talks to web browser clients and provides LibreOffice
 services.
